.authentication {
  display: grid;
  max-width: 100%;
  height: 100vh;
  text-align: center;
  grid-template-areas:
    'main main main'
    'main main main'
    'foot foot foot'
  ;
  background-color: #8187DC;
  
  &__main {
    grid-area: main;
  }

  &__foot {
    grid-area: foot;
    background-color: #6c73d4;
  }
}

.welcome {
  padding-top: 4%;
}

.google {
  margin-top: 4%;
}

p {
  color: white;
  font-size: 25px;

  margin-top: 20px;
}
