.forgot-password {
  display: grid;
  max-width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #8187DC;
  grid-template-areas: 
    'main main main'
    'main main main'
    'main main main'
  ;

  &__main {
    grid-area: main;

    .forgot-password-form {
      .email-alert {
        align-items: center;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 35px;
        text-align: start;
      }
      p {
        text-align: start;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}