.sidebar {
  height: 100%;
  width: 355px;
  background-color: #8187DC;
  font-size: 18px;
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-list .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background-color: #6970d8;
}

.sidebar-list #active {
  background-color: #6970d8;
}

.row #icon {
  flex: 25%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 75%;
}