.side-right-login {
  position: absolute;
  width: 530px;
  height: 1007px;
  margin-left: 1375px;
  top: 0px;

  background: #8187DC;
}

.show-system {
  width: 1375px;
  height: 1007px;
  background: cornsilk;
}

.login-container {
  width: 100vw;
  height: 100px;
  display: table;
  margin: 0 auto;
  background: #fafafa;
}

p {
  margin: 5px 0;
  font-size: 1.5rem;
}

.profile {
  border-radius: 5px;
}
