.atena-logo {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-top: 50px;
}

img {
    width: 93px;
    height: 101px;
    margin-bottom: 100px;
}

.form-register {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.fields {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.buttons {
	align-items: center;
	justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

#button-save {
    margin-top: 20px;
    background-color: #8187DC;
}

#button-back {
    margin-top: 20px;
    // color: #8187DC;
}