.welcome {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-top: 50px;
}

img {
    width: 93px;
    height: 101px;
    margin-bottom: 100px;
}

.select-profile {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#button-next {
    margin-top: 20px;
    background-color: #8187DC;
}